
.table {
    border: 1px solid #e8e8e8;
    border-radius: 0;
}

.cart-table > thead > tr {
    background: 0 0;
    padding: 15px 10px;
    color: #323232 !important;
}

.cart-table > tbody{
    vertical-align: middle;
    line-height: 1.5em;
    text-align: left;
    border-top: 1px solid #e7e7e7 !important;
    padding: 16px 12px;
}

.cart-table > tbody > tr > td{
    vertical-align: middle;
    line-height: 1.5em;
    text-align: left;
    border-top: 1px solid #e7e7e7 !important;
    padding: 16px 12px;
    color: #969696;
}

.small-row-img{
    width: 150px;
}

.small-row-img > img {
    width: 150px;
    height: auto;
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
}

.empty-cart-img > img {
    width: 100%;
}

.clean-cart-button {
    text-align: left;
}

.totals-container {
    float: none;
    width: auto;
    border: 1px solid #e8e8e8;
    background: #f9f9f9;
    padding: 0 20px 20px;
}

.totals-container > h2 {
    font-size: 20px;
    line-height: 30px;
    padding: 20px;
    margin: 0px;
    font-weight: 600px;
    text-align: center;
}

.table-shops{
    text-align: left;
    width: 100%;
    border-collapse: separate;
    margin: 0 -1px 20px 0;
    padding: 0px;
    border: none;
    background: #fff;
}

th.subtotal-subtitle, td.subtotal  {
    border-top: 0px;
    font-size: 18px !important;
}

.totals-container > .table-shops > tbody > tr > th  {
    width: 35%;
    vertical-align: top;
    line-height: 1.5em;
    border: none;
    background: 0 0;
    text-align: left;
    font-size: 16px;
    color: #323232;
    padding: 15px 20px;
    font-weight: 600px;
    border-top: 1px solid #e8e8e8;
}

.totals-container > .table-shops > tbody > tr > td  {
    vertical-align: top;
    line-height: 1.5em;
    border: none;
    text-align: right;
    font-size: 16px;
    color: #323232;
    padding: 20px;
    font-weight: 600px;
    border-top: 1px solid #e8e8e8;
}

th.total-subtitle, td.total  {
    border-top: 0px;
    font-size: 18px !important;
}

td.total > strong {
    color: #b1d300;
}

.checkout-container .checkout-button  {
    padding: 15px 20px;
    font-size: 15px;
    line-height: 26px;
    border-radius: 0px;
    background-color: #323232;
    color: #ffffff;
    display: block;
    text-align: center;
    text-transform: uppercase;
    border-color: #323232;
    width: 100%;
}

.checkout-container .checkout-button:hover  {
    border: 1px solid #b1d300;
    background-color: #b1d300;
    color: #323232;
}

.checkout-container .checkout-button:focus  {
    border: 1px solid #b1d300;
    box-shadow: 0 0 0 0;
}


